*p1 {
  font-weight: bold;
}

table tr:nth-of-type(odd) td {
  background-color: #F5E7CC;
}
table {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: darkblue;
  margin: 20px 10px;
  color: white;
  padding: 5px;
}

th {
  font-style: italic;
}

.wichtig {
  color: red;
  font-weight: 950;
}

.medium {
  color: orange;
  font-weight: 500;
}

.unwichtig {
  color: grey;
  font-weight: 100;
}
