*p1 {
  font-weight: bold;
}

table tr:nth-of-type(odd) td {
  background-color: #F5E7CC;
}
table {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: darkblue;
  margin: 20px 10px;
  color: white;
  padding: 5px;
}

th {
  font-style: italic;
}

.wichtig {
  color: red;
  font-weight: 950;
}

.medium {
  color: orange;
  font-weight: 500;
}

.unwichtig {
  color: grey;
  font-weight: 100;
}

.lÃ¤nder {
    margin-bottom: 50px;
}

.bilder {
    width: 500px;
    height: 300px;
}

.site {
  display: grid;
  grid-template:
    "h h" 80px
    "c s" auto
    "f f" 50px
    / 3fr 1fr;
  grid-gap: 5px;
  min-height: calc(100vh - 20px);
}

@media screen and (max-width:480px) {
  .site {
    display: grid;
    grid-template:
      "h" 80px
      "c" auto
      "s" auto
      "f" 50px
      / 1fr;
    grid-gap: 5px;
    min-height: calc(100vh - 20px);
  }
}

.header {
  grid-area: h;
  background-color: darkgrey;
}

.content {
  grid-area: c;
}

.sidebar {
  grid-area: s;
  background-color: darkblue;
}

.footer {
  grid-area: f;
  background-color: darkgrey;
}

.flex {
  display: flex;
  justify-content: center
}

.sMarginRL {
  margin-left: 5px;
  margin-right: 5px;
}
